xml/lwg-issue.dtd

<!ELEMENT issue (title,section,submitter,date,priority?,(note,p*)?,discussion,(resolution|rationale|duplicate|note|blockquote)*)>
<!ATTLIST issue num CDATA #REQUIRED>
<!ATTLIST issue status CDATA #REQUIRED>
<!ELEMENT title ANY>
<!ELEMENT section (sref+)>
<!ELEMENT submitter (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT priority (#PCDATA)>
<!ELEMENT discussion ANY>
<!ELEMENT resolution ANY>
<!ELEMENT rationale ANY>
<!ELEMENT duplicate (iref)>
<!ELEMENT sref EMPTY>
<!ATTLIST sref ref CDATA #REQUIRED>
<!ELEMENT iref EMPTY>
<!ATTLIST iref ref CDATA #REQUIRED>
<!ELEMENT note ANY>

<!ENTITY % html-inline "tt|code|i|em|b|strong|u|a|sup|sub|br|var|span|dfn|del|ins">
<!ENTITY % html-table "table|thead|tbody|caption|tr|th|td">
<!ENTITY % html-list "ol|ul|li|dl|dt|dd">
<!ENTITY % html-block "p|pre|blockquote|h3|h4|h5|%html-table;|%html-list;">
<!ENTITY % html "%html-inline; | %html-block;">

<!-- HTML elements used in issues -->
<!ELEMENT del ANY>
<!ELEMENT ins ANY>
<!ATTLIST ins style CDATA #IMPLIED>
<!ELEMENT pre ANY>
<!ELEMENT blockquote ANY>
<!ATTLIST blockquote class (note) #IMPLIED> <!-- issue 427 needs this -->
<!ATTLIST blockquote style CDATA #IMPLIED>
<!ELEMENT p ANY>
<!ATTLIST p style CDATA #IMPLIED>
<!ELEMENT h3 ANY>
<!ELEMENT h4 ANY>
<!ELEMENT h5 ANY>
<!ELEMENT ol (li+)>
<!ATTLIST ol style CDATA #IMPLIED>
<!ATTLIST ol start CDATA #IMPLIED>
<!ELEMENT ul (li+)>
<!ELEMENT li ANY>
<!ATTLIST li value CDATA #IMPLIED>
<!ELEMENT i ANY>
<!ELEMENT em ANY>
<!ELEMENT b ANY>
<!ELEMENT strong ANY>
<!ELEMENT u ANY>
<!ELEMENT tt ANY>
<!ELEMENT code ANY>
<!ELEMENT sup ANY>
<!ELEMENT sub ANY>
<!ELEMENT br ANY>
<!ELEMENT a ANY>
<!ATTLIST a href CDATA #IMPLIED>
<!ATTLIST a name CDATA #IMPLIED>
<!ELEMENT table (caption?,((thead?,tbody)|tr+))>
<!ATTLIST table style CDATA #IMPLIED>
<!ATTLIST table border CDATA #IMPLIED>
<!ATTLIST table bordercolor CDATA #IMPLIED>
<!ATTLIST table cellpadding CDATA #IMPLIED>
<!ATTLIST table cellspacing CDATA #IMPLIED>
<!ATTLIST table rules CDATA #IMPLIED>
<!ELEMENT thead ANY>
<!ELEMENT tbody ANY>
<!ELEMENT tr ((th|td)+)>
<!ATTLIST tr style CDATA #IMPLIED>
<!ATTLIST tr align CDATA #IMPLIED>
<!ELEMENT th ANY>
<!ATTLIST th style CDATA #IMPLIED>
<!ATTLIST th colspan CDATA #IMPLIED>
<!ATTLIST th align CDATA #IMPLIED>
<!ELEMENT td ANY>
<!ATTLIST td style CDATA #IMPLIED>
<!ATTLIST td colspan CDATA #IMPLIED>
<!ATTLIST td rowspan CDATA #IMPLIED>
<!ATTLIST td align CDATA #IMPLIED>
<!ATTLIST td valign CDATA #IMPLIED>
<!ELEMENT caption ANY>
<!ELEMENT dl ((dd|dt)+)>
<!ELEMENT dt ANY>
<!ELEMENT dd ANY>
<!ELEMENT var ANY>
<!ELEMENT span ANY>
<!ATTLIST span style CDATA #IMPLIED>
<!ELEMENT dfn ANY>

<!-- MathML elements, simplified DTD version derived from:

     https://www.w3.org/TR/MathML2/appendixa.html
     
     To convert LaTeX to MathML, use e.g.:
     
     https://www.mathtowebonline.com/
     
     Useful MathML introductions:
     
     http://www.xmlmind.com/tutorials/MathML/
     http://rypress.com/tutorials/mathml/advanced-formatting
-->
<!ENTITY % MathMLCharacters "#PCDATA | mglyph">
<!ENTITY % MathExpression           
     "(mi|mn|mo|mtext|ms|mspace|mrow|mfrac|msqrt|mroot|menclose|mstyle|mfenced|
       mtable)*">
<!ENTITY % PresExpression      
     "(mfenced|mi|mo|mn|msup|mtext|ms|mspace|mprescripts|mfrac|msqrt|mroot|mrow|mstyle|
       msub|msup|msubsup|munder|mover|munderover|mmultiscripts|mtable|mtr|mlabeledtr|
       mtd)*">
<!ENTITY % MATHML.NamespaceDecl.attrib "xmlns CDATA #REQUIRED">
<!ENTITY % MATHML.Common.attrib
     "class  CDATA  #IMPLIED
      style  CDATA  #IMPLIED
      id     ID     #IMPLIED
      xref   IDREF  #IMPLIED
      other  CDATA  #IMPLIED">
<!ENTITY % att-bevelled        "bevelled CDATA #IMPLIED">
<!ENTITY % att-display         "display CDATA #IMPLIED">
<!ENTITY % att-numalign        "numalign CDATA #IMPLIED">
<!ENTITY % att-denomalign      "denomalign CDATA #IMPLIED">
<!ENTITY % att-linethickness   "linethickness CDATA #IMPLIED">
<!ENTITY % att-fontsize        "fontsize CDATA #IMPLIED">
<!ENTITY % att-fontweight      "fontweight (normal|bold) #IMPLIED">
<!ENTITY % att-fontstyle       "fontstyle (normal|italic) #IMPLIED">
<!ENTITY % att-fontfamily      "fontfamily CDATA #IMPLIED">
<!ENTITY % att-color           "color CDATA #IMPLIED">
<!ENTITY % att-mathvariant     "mathvariant CDATA #IMPLIED">
<!ENTITY % att-mathsize        "mathsize CDATA #IMPLIED">
<!ENTITY % att-mathcolor       "mathcolor CDATA #IMPLIED">
<!ENTITY % att-mathbackground  "mathbackground CDATA #IMPLIED">
<!ENTITY % att-mode            "mode CDATA #IMPLIED">
<!ENTITY % att-fontinfo        "%att-fontsize; %att-fontweight; %att-fontstyle;
                                %att-fontfamily; %att-color; %att-mathvariant;
                                %att-mathsize; %att-mathcolor; %att-mathbackground;">
<!ENTITY % att-form            "form  (prefix|infix|postfix ) #IMPLIED">
<!ENTITY % att-fence           "fence  (true|false) #IMPLIED">
<!ENTITY % att-separator       "separator (true|false) #IMPLIED">
<!ENTITY % att-lspace          "lspace CDATA #IMPLIED">
<!ENTITY % att-rspace          "rspace CDATA #IMPLIED">
<!ENTITY % att-stretchy        "stretchy (true|false) #IMPLIED">
<!ENTITY % att-symmetric       "symmetric (true|false) #IMPLIED">
<!ENTITY % att-maxsize         "maxsize CDATA #IMPLIED">
<!ENTITY % att-minsize         "minsize CDATA #IMPLIED">
<!ENTITY % att-largeop         "largeop (true|false) #IMPLIED">
<!ENTITY % att-movablelimits   "movablelimits (true|false) #IMPLIED">
<!ENTITY % att-accent          "accent (true|false) #IMPLIED">
<!ENTITY % att-opinfo          "%att-form; %att-fence; %att-separator; %att-lspace; %att-rspace;
                                %att-stretchy; %att-symmetric; %att-maxsize; %att-minsize;
                                %att-largeop; %att-movablelimits; %att-accent;">
<!ENTITY % att-lquote          "lquote CDATA #IMPLIED">
<!ENTITY % att-rquote          "rquote CDATA #IMPLIED">
<!ENTITY % att-linethickness   "linethickness CDATA #IMPLIED">
<!ENTITY % att-scriptlevel     "scriptlevel CDATA #IMPLIED">
<!ENTITY % att-displaystyle    "displaystyle (true|false) #IMPLIED">
<!ENTITY % att-scriptsizemultiplier "scriptsizemultiplier CDATA #IMPLIED">
<!ENTITY % att-scriptminsize   "scriptminsize CDATA #IMPLIED">
<!ENTITY % att-background      "background CDATA #IMPLIED">
<!ENTITY % att-open            "open CDATA #IMPLIED">
<!ENTITY % att-close           "close CDATA #IMPLIED">
<!ENTITY % att-separators      "separators CDATA #IMPLIED">
<!ENTITY % att-subscriptshift  "subscriptshift CDATA #IMPLIED">
<!ENTITY % att-superscriptshift "superscriptshift CDATA #IMPLIED">
<!ENTITY % att-accentunder     "accentunder (true|false) #IMPLIED">
<!ENTITY % att-align           "align CDATA #IMPLIED">
<!ENTITY % att-rowspan         "rowspan CDATA #IMPLIED">
<!ENTITY % att-columnspan      "columnspan CDATA #IMPLIED">
<!ENTITY % att-edge            "edge (left|right) #IMPLIED">
                             
<!ENTITY % twoPresExpression   "%PresExpression;">
<!ENTITY % threePresExpression "%PresExpression;">
<!ENTITY % prscrPresExpression "%PresExpression;">

<!ELEMENT math          (%MathExpression;)>
<!ELEMENT malignmark    EMPTY>
<!ELEMENT mglyph        EMPTY>
<!ELEMENT mrow          (%PresExpression;)>
<!ELEMENT mi            (%MathMLCharacters; | malignmark)*>
<!ELEMENT mn            (%MathMLCharacters; | malignmark)*>
<!ELEMENT mo            (%MathMLCharacters; | malignmark)*>
<!ELEMENT mtext         (%MathMLCharacters; | malignmark)*>
<!ELEMENT ms            (%MathMLCharacters; | malignmark)*>
<!ELEMENT mfenced       (%PresExpression;)>
<!ELEMENT mroot         (%twoPresExpression;)>
<!ELEMENT msub          (%twoPresExpression;)>
<!ELEMENT msup          (%twoPresExpression;)>
<!ELEMENT msubsup       (%threePresExpression;)>
<!ELEMENT mmultiscripts (%prscrPresExpression;)>
<!ELEMENT munder        (%twoPresExpression;)>
<!ELEMENT munderover    (%threePresExpression;)>
<!ELEMENT mover         (%twoPresExpression;)>
<!ELEMENT mfrac         (%twoPresExpression;)>
<!ELEMENT msqrt         (%PresExpression;)>
<!ELEMENT mstyle        (%PresExpression;)>

<!ATTLIST math          %att-mode; %att-display; %MATHML.NamespaceDecl.attrib;>
<!ATTLIST mglyph        %att-alt; %att-fontfamily; %att-index;>
<!ATTLIST mrow          %MATHML.Common.attrib;>
<!ATTLIST mi            %MATHML.Common.attrib; %att-fontinfo;>
<!ATTLIST mo            %MATHML.Common.attrib; %att-fontinfo; %att-opinfo;>
<!ATTLIST mn            %MATHML.Common.attrib; %att-fontinfo;>
<!ATTLIST mtext         %MATHML.Common.attrib; %att-fontinfo;>
<!ATTLIST ms            %MATHML.Common.attrib; %att-fontinfo; %att-lquote; %att-rquote;>
<!ATTLIST mfenced       %MATHML.Common.attrib; %att-open; %att-close; %att-separators;>
<!ATTLIST mfrac         %MATHML.Common.attrib; %att-bevelled; %att-numalign; %att-denomalign; %att-linethickness;>
<!ATTLIST msqrt         %MATHML.Common.attrib;>
<!ATTLIST mroot         %MATHML.Common.attrib;>
<!ATTLIST msub          %MATHML.Common.attrib; %att-subscriptshift;>
<!ATTLIST msup          %MATHML.Common.attrib; %att-superscriptshift;>
<!ATTLIST msubsup       %MATHML.Common.attrib; %att-subscriptshift; %att-superscriptshift;>
<!ATTLIST munder        %MATHML.Common.attrib; %att-accentunder;>
<!ATTLIST mover         %MATHML.Common.attrib; %att-accent;>
<!ATTLIST munderover    %MATHML.Common.attrib; %att-accent; %att-accentunder;>
<!ATTLIST mmultiscripts %MATHML.Common.attrib; %att-subscriptshift; %att-superscriptshift;>
<!ATTLIST mstyle        %MATHML.Common.attrib; %att-fontinfo; %att-opinfo; %att-lquote;
                        %att-rquote; %att-linethickness; %att-scriptlevel; %att-scriptsizemultiplier;
                        %att-scriptminsize; %att-background; %att-open; %att-close;
                        %att-separators; %att-subscriptshift; %att-superscriptshift;
                        %att-accentunder; %att-tableinfo; %att-rowspan; %att-columnspan;
                        %att-edge; %att-selection; %att-bevelled; %att-height; %att-depth;>

<!-- the common HTML entities for special characters -->
<!ENTITY Aacute     "&#xC1;">
<!ENTITY aacute     "&#xE1;">
<!ENTITY Acirc      "&#xC2;">
<!ENTITY acirc      "&#xE2;">
<!ENTITY Agrave     "&#xC0;">
<!ENTITY agrave     "&#xE0;">
<!ENTITY Atilde     "&#xC3;">
<!ENTITY atilde     "&#xE3;">
<!ENTITY Auml       "&#xC4;">
<!ENTITY auml       "&#xE4;">
<!ENTITY Ccedil     "&#xC7;">
<!ENTITY ccedil     "&#xE7;">
<!ENTITY deg        "&#xB0;">
<!ENTITY Delta      "&#x394;">
<!ENTITY delta      "&#x3B4;">
<!ENTITY divide     "&#xF7;">
<!ENTITY Eacute     "&#xC9;">
<!ENTITY eacute     "&#xE9;">
<!ENTITY Ecirc      "&#xCA;">
<!ENTITY ecirc      "&#xEA;">
<!ENTITY Egrave     "&#xC8;">
<!ENTITY egrave     "&#xE8;">
<!ENTITY empty      "&#x2205;">
<!ENTITY epsilon    "&#x3B5;">
<!ENTITY Euml       "&#xCB;">
<!ENTITY euml       "&#xEB;">
<!ENTITY exist      "&#x2203;">
<!ENTITY forall     "&#x2200;">
<!ENTITY frasl      "&#x2044;">
<!ENTITY ge         "&#x2265;">
<!ENTITY hArr       "&#x21D4;">
<!ENTITY harr       "&#x2194;">
<!ENTITY hellip     "&#x2026;">
<!ENTITY Iacute     "&#xCD;">
<!ENTITY iacute     "&#xED;">
<!ENTITY Icirc      "&#xCE;">
<!ENTITY icirc      "&#xEE;">
<!ENTITY Igrave     "&#xCC;">
<!ENTITY igrave     "&#xEC;">
<!ENTITY isin       "&#x2208;">
<!ENTITY Iuml       "&#xCF;">
<!ENTITY iuml       "&#xEF;">
<!ENTITY lArr       "&#x21D0;">
<!ENTITY larr       "&#x2190;">
<!ENTITY ldquo      "&#x201C;">
<!ENTITY le         "&#x2264;">
<!ENTITY lfloor     "&#x230A;">
<!ENTITY mdash      "&#x2014;">
<!ENTITY micro      "&#xB5;">
<!ENTITY middot     "&#xB7;">
<!ENTITY mu     	"&#x03BC;">
<!ENTITY Nacute     "&#x8f;">
<!ENTITY nacute     "&#x90;">
<!ENTITY nbsp       "&#xA0;">
<!ENTITY ndash      "&#x2013;">
<!ENTITY ne         "&#x2260;">
<!ENTITY ni         "&#x220B;">
<!ENTITY notin      "&#x2209;">
<!ENTITY nsub       "&#x2284;">
<!ENTITY Ntilde     "&#xD1;">
<!ENTITY ntilde     "&#xF1;">
<!ENTITY Oacute     "&#xD3;">
<!ENTITY oacute     "&#xF3;">
<!ENTITY Ocirc      "&#xD4;">
<!ENTITY ocirc      "&#xF4;">
<!ENTITY Omicron    "&#x39F;">   <!-- Better use &#x1d4aa; for big-O notation ('MATHEMATICAL SCRIPT CAPITAL O') -->
<!ENTITY Otilde     "&#xD5;">
<!ENTITY otilde     "&#xF5;">
<!ENTITY Ouml       "&#xD6;">
<!ENTITY ouml       "&#xF6;">
<!ENTITY para       "&#xB6;">
<!ENTITY phi        "&#x3C6;">
<!ENTITY pi         "&#x3C0;">
<!ENTITY plusmn     "&#xB1;">
<!ENTITY rArr       "&#x21D2;">
<!ENTITY rarr       "&#x2192;">
<!ENTITY rdquo      "&#x201D;">
<!ENTITY rfloor     "&#x230B;">
<!ENTITY rho        "&#x3C1;">
<!ENTITY rsquo      "&#x2019;">
<!ENTITY Scaron     "&#x160;">
<!ENTITY scaron     "&#x161;">
<!ENTITY sect       "&#xA7;">
<!ENTITY sigma      "&#x3C3;">
<!ENTITY sub        "&#x2282;">
<!ENTITY sube       "&#x2286;">
<!ENTITY sum        "&#x2211;">
<!ENTITY sup        "&#x2283;">
<!ENTITY supe       "&#x2287;">
<!ENTITY szlig      "&#xDF;">
<!ENTITY Theta      "&#x398;">
<!ENTITY times      "&#xD7;">
<!ENTITY Uacute     "&#xDA;">
<!ENTITY uacute     "&#xFA;">
<!ENTITY Ucirc      "&#xDB;">
<!ENTITY ucirc      "&#xFB;">
<!ENTITY Ugrave     "&#xD9;">
<!ENTITY ugrave     "&#xF9;">
<!ENTITY Uuml       "&#xDC;">
<!ENTITY uuml       "&#xFC;">
<!ENTITY yacute     "&#xFD;">
<!ENTITY yuml       "&#xFF;">
<!ENTITY zcaron     "&#x17D;">
